<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Pembayaran</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#EBE6F6] flex flex-col justify-center items-center min-h-screen">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-4">PEMBAYARAN BERHASIL</h1>
        <div class="bg-green-500 w-24 h-24 rounded-full flex items-center justify-center mx-auto mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
        <a href="{% url 'payment_history' %}" class="bg-gradient-to-r from-purple-500 to-purple-600 text-white py-2 px-4 rounded-full shadow-lg transition-all hover:bg-gradient-to-l hover:from-purple-600 hover:to-purple-700">
            Lihat details
        </a>
    </div>
</body>
</html>
