from django.test import TestCase
from django.urls import reverse
from .models import Pembayaran
from penyimpanan.models import Katalog
from .forms import PaymentForm

class PembayaranViewTests(TestCase):

    def setUp(self):
        # Siapkan data awal yang diperlukan untuk tes
        self.product = Katalog.objects.create(nama='Produk 1', harga=10000)
        self.payment_data = {
            'amount': 2,  # Misalnya, jumlah yang ingin dibayar
            'product': self.product.id,
        }

    def test_create_payment_view(self):
        # Tes untuk membuat pembayaran
        response = self.client.post(reverse('pembayaran:create_payment'), self.payment_data)
        self.assertEqual(response.status_code, 302)  # Pastikan redirect setelah sukses
        self.assertEqual(Pembayaran.objects.count(), 1)  # Pastikan pembayaran telah dibuat

    def test_payment_history_view(self):
        # Tes untuk melihat riwayat pembayaran
        self.client.post(reverse('pembayaran:create_payment'), self.payment_data)
        response = self.client.get(reverse('pembayaran:payment_history'))
        self.assertEqual(response.status_code, 200)
        self.assertTemplateUsed(response, 'pembayaran/payment_history.html')  # Pastikan template yang benar digunakan
        self.assertContains(response, 'Produk 1')  # Pastikan produk muncul di halaman riwayat pembayaran

    def test_update_payment_view(self):
        # Tes untuk memperbarui pembayaran
        payment = Pembayaran.objects.create(total_payment=20000, product=self.product)  # Membuat pembayaran awal
        updated_data = {
            'amount': 3,
            'product': self.product.id,
        }
        response = self.client.post(reverse('pembayaran:update_payment', args=[payment.id]), updated_data)
        self.assertEqual(response.status_code, 302)  # Pastikan redirect setelah sukses
        payment.refresh_from_db()  # Memperbarui objek dari database
        self.assertEqual(payment.total_payment, 30000)  # Memastikan total pembayaran telah diperbarui

    def test_delete_payment_view(self):
        # Tes untuk menghapus pembayaran
        payment = Pembayaran.objects.create(total_payment=20000, product=self.product)  # Membuat pembayaran
        response = self.client.post(reverse('pembayaran:delete_payment', args=[payment.id]))
        self.assertEqual(response.status_code, 302)  # Pastikan redirect setelah sukses
        self.assertEqual(Pembayaran.objects.count(), 0)  # Pastikan tidak ada pembayaran tersisa

