<nav class="bg-gray-800 shadow-lg">
    <div class="max-w-7xl mx-auto px-4 py-4">
        <div class="flex justify-between items-center">
            <div class="text-white text-xl font-bold">Hasbogor</div>
            <div class="flex items-center space-x-4">
                <a href="{% url 'authentication:home' %}" class="text-gray-300 hover:text-white">Home</a>
                <a href="{% url 'pembayaran:create' %}" class="text-gray-300 hover:text-white">Payment</a>
                <a href="{% url 'authentication:logout' %}" class="text-gray-300 hover:text-white">Logout</a>
            </div>
        </div>
       

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Tambahkan jQuery -->
<script>
    $(document).ready(function() {
        $('#search-button').on('click', function(event) {
            event.preventDefault(); // Mencegah pengiriman form tradisional
            let query = $('#search-bar').val(); // Ambil nilai dari search bar
            $.ajax({
                url: '{% url "penyimpanan:explore" %}', // Ganti dengan URL yang sesuai untuk view pencarian
                data: {
                    'search': query // Kirimkan parameter pencarian
                },
                success: function(data) {
                    $('#katalog-container').html(data); // Update kontainer dengan hasil pencarian
                },
                error: function(xhr, status, error) {
                    console.error("Error occurred: " + error); // Menangani error
                }
            });
        });
    });
</script>
